/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

/* CSS Variables */
:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #ea580c;
}

/* Global Styles */
html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Header Styles */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* Responsive adjustments for header */
@media (max-width: 768px) {
    .header {
        padding: 2rem 5%;
    }
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

span {
    background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
    background-clip: text;
    color: transparent;
}

/* Navbar Styles */
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 1.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

/* Button Styles */
.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
    margin-bottom: 30px; /* Margin bawah pada tombol Contact Me */
}

.gradient-btn:hover {
    transform: scale(1.05);
}

/* Section Styles */
section {
    min-height: 100vh;
    padding: 10rem 15%;
}

/* Responsive adjustments for section padding */
@media (max-width: 768px) {
    section {
        padding: 10rem 5%;
    }
}

/* Contact Section */
.contact {
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

/* Table Contact Me */
.navigation-table {
    width: 100%;
    margin: 40px 0; /* Margin atas bawah */
    border-collapse: collapse;
}

.navigation-table td {
    text-align: center;
    padding: 15px;
}

.navigation-table a {
    font-size: 1.8rem;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation-table a:hover {
    color: var(--main-color);
}

/* Button Install */
#install-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--main-color);
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    margin-top: 30px; /* Menambahkan margin-top */
}

#install-button:hover {
    background-color: #333;
    transform: translateY(-2px);
}

#install-button:active {
    transform: translateY(2px);
}

/* Media Query untuk Responsivitas */
@media (max-width: 768px) {
    .header, .navbar, .btn-group, .contact, .projects {
        flex-direction: column;
        padding: 2rem 5%;
    }
    
    .navbar a {
        margin: 1rem 0;
        font-size: 1.6rem;
    }

    .home {
        flex-direction: column;
        gap: 3rem;
    }

    .home-content h1, .home-content h3, .project h3, .about-content h2 {
        font-size: 4rem;
    }

    .contact form {
        flex-direction: column;
        gap: 2rem;
    }
}
